{% extends "base.html" %}
{% block bodyBlock %}
<h1>send feedback</h1>
<form action='/feedback/{{feedback.id}}/update' method="post">
    {{ form.hidden_tag()}}
    {% for field in form
        if field.widget.input_type != 'hidden' %}
        <p>
            {{field.label}}
            {{field}}
            {% if field.errors %}
                {% for error in field.errors%}
                <p class="badge bg-danger">
                    {{error}}
                </p>    
                {% endfor %}
            {% endif %}
        </p>
        
        {% endfor %}
        <input class="btn btn-primary" type="submit" value="update">
    </form>
{% endblock %}