{% extends "base.html" %}
{% block bodyBlock %}
<h1>Make an account!</h1>
<form action="/register" method="post">
    {{ form.hidden_tag()}}
    {% for field in form
        if field.widget.input_type != 'hidden' %}
        <p>
            {{field.label}}
            {{field}}
            {% if field.errors %}
                {% for error in field.errors%}
                <p class="badge bg-danger">
                    {{error}}
                </p>    
                {% endfor %}
            {% endif %}
        </p>
        
        {% endfor %}
        <input class="btn btn-primary" type="submit" value="register">
    </form>
    <a class="btn btn-secondary" href="/login">already have an account?</a>
{% endblock %}